<h1>Edit App</h1>
<form method="POST" action="/courses/{{course._id}}?_method=PUT">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" value="{{course.name}}" class="form-control" name="name">
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea class="form-control" name="description">{{course.description}}</textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Video ID</label>
    <input type="text" value="{{course.videoId}}" class="form-control" name="videoId">
  </div>

  <div class="mb-3">
    <label class="form-label">Img</label>
    <input type="text" value="{{course.img}}" class="form-control" name="img">
  </div>
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>