<form class="mt-4" method="post" action="/courses/trashForm-action" name="container-form">
    <div>
      <a href="/me/stored/courses">My Courses</a>
      <h3>Trash Courses</h3>
      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>
        <select class="form-select form-select-sm checkbox-select-all-option" aria-label="Default select example" name="action" required>
          <option value="">Open this select menu</option>
          <option value="restore">Restore</option>
          <option value="delete">Delete</option>
        </select>
        <button type="submit" class="btn btn-primary check-all-submit-btn" disabled>Áp dụng</button>
      </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{this._id}}" name="coursesId[]">
                    </th>
                    <th scope="row">{{sumOne @index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Restore</a>
                        <a href="" class="btn btn-danger" data_id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#del-courses-modal">Delete</a>
                    </td>
                </tr>
              {{else}}
              <tr>
                <td class="text-center" colspan="4">Thùng rác trống</td>
              </tr>
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- Confirm Delete Courses --}}
<div id="del-courses-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Course?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Hành động này không thể khôi phục được. Bạn có chắc chắn muốn xóa cái này không?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>
<form method="POST" name="restore-course-form"></form>  

<script>
  document.addEventListener('DOMContentLoaded',()=>{
    let courseId=0
    const exampleModal = document.getElementById('del-courses-modal')
    const btnDelCourse = document.getElementById('btn-delete-course')
    const courseItemCheckbox = $('input[name="coursesId[]"]')
    const checkAllSubmitBtn = $('.check-all-submit-btn')
    const checkboxAll=$('#checkbox-all')

    
    // DOM class Restore
    const btnRestore = $('.btn-restore')
    // Form
    const deleteForm = document.forms['delete-course-form']
    const restoreForm = document.forms['restore-course-form']
    const containerForm = document.forms['container-form']

    exampleModal.addEventListener('show.bs.modal', function (event) {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      courseId = button.getAttribute('data_id')
    })
    btnDelCourse.onclick=()=>{
      deleteForm.action = `/courses/${courseId}/force?_method=DELETE`
      deleteForm.submit()
    }
    // Restore button click
    btnRestore.click(function(e){
      e.preventDefault()
      const course_Id = $(this).attr('data-id')
      restoreForm.action = '/courses/'+course_Id+'/restore?_method=PATCH'
      restoreForm.submit()
    })
    // Check box all change
    checkboxAll.change(function(){
      const isChecked=$(this).prop('checked')
      courseItemCheckbox.prop('checked',isChecked)
      renderCheckboxSubmitBtn()
    })
    // Course item checkbox change
    courseItemCheckbox.change(function(){
      const isChecked=courseItemCheckbox.length === $('input[name="coursesId[]"]:checked').length
      checkboxAll.prop('checked',isChecked)
      renderCheckboxSubmitBtn()
    })
    // Re-render check-all submit button
    const renderCheckboxSubmitBtn = ()=>{
      const checkCount = $('input[name="coursesId[]"]:checked').length
      if (checkCount > 0){
        checkAllSubmitBtn.attr('disabled',false)
      }else{
        checkAllSubmitBtn.attr('disabled',true)
      }
    }
  })
</script>